.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.content-page {
    height: auto;
}

.content-page-fixed {
    height: 460px;
}

@media screen and (max-width: 500px) {
	.page-header h1 {
		font-size: 2em;
	}
	.content-page-fixed {
		height: auto;
	}
}

@media screen and (max-width: 500px) {
	.taulaPeriodes {
		font-size: 14px;
	}
}
