<div class="container content-page-fixed">
    <div class="page-header" id="banner">
        <div class="row row-centered">
            <div class="col-lg-10 col-centered">
                <h1 style = "text-align:center">Obtenir tiquet</h1>
                <br> <br>
            </div>
        </div>
        <div class="row row-centered">
            <div class="col-lg-8 col-centered bs-component">
              <div class="jumbotron">
                <h1 style = "text-align:center">{{codi_diari}}</h1>
                <!--<p style = "text-align:center">{{'VALID_FINS'|translate}}: {{codiDiariCtrl.codi_diari.validesa}}</p>-->
              </div>
            </div>
        </div>
    </div>
</div>
