<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Obtenir tiquet</h1>
                <br> 
            </div>
        </div>
        <div class="row">
            <div class="bs-component">
              <div class="jumbotron">
                <h1>45768554A</h1>
                <p>Valid fins el 25 Octubre 2014.</p>
              </div>
            </div>
        </div>
    </div>
   </div>