<div class="container content-page">
    <div class="page-header" id="banner">
        <div class="row row-centered">
            <div class="col-lg-10 col-centered">
                <h1 style ="text-align:center">{{'GEST_PERIODES'|translate}}</h1>
                <br> <br>
                <table class="table table-striped table-hover">
                <thead>
                  <tr><th style= "text-align:center">{{'DATA_INI'|translate}}</th> <th style= "text-align:center">{{'DATA_FI'|translate}}</th>
                   <th style= "text-align:center"> 	<button ng-click ='periodesAbsenciaCtrl.esborrarPeriode($index)'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
					</th>
                  </tr>
                </thead>
                <tbody class="taulaPeriodes">

                  <tr ng-repeat = "cont in contingut">
                    <td style= "text-align:center; min-width:75px;" ng-hide="periodesAbsenciaCtrl.isEditing($index)">{{cont.startdate}}</td>
                    <td style= "text-align:center" ng-show="periodesAbsenciaCtrl.isEditing($index)">
                        <input type="text"  data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-language= {{idioma}} style="width:75px; height:27px;" ng-model= "dates.dataInici">
                    </td>
                    <td style= "text-align:center" ng-hide="periodesAbsenciaCtrl.isEditing($index)">{{cont.enddate}}</td>
                    <td style= "text-align:center; min-width:75px;"  ng-show="periodesAbsenciaCtrl.isEditing($index)">
                        <input type="text" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-language= {{idioma}}  data-date-start-date={{dates.dataInici}}  style="width:75px; height:27px;" ng-model= "dates.dataFi">
                    </td>
                    <td style= "text-align:center; min-width:80px;">
						<button ng-click ='periodesAbsenciaCtrl.editarPeriode($index)' ng-hide="periodesAbsenciaCtrl.isEditing($index)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                        <button ng-click ='periodesAbsenciaCtrl.sendEdit()' ng-show="periodesAbsenciaCtrl.isEditing($index)"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
						<button ng-click ='periodesAbsenciaCtrl.esborrarPeriode($index)' ng-hide="periodesAbsenciaCtrl.isEditing($index)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
					</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
