<div class="container content-page">
    <div class="page-header" id="banner">
        <div class="row row-centered">
            <div class="col-lg-8 col-centered">
                <h1 style="text-align:center">Informació de contacte</h1>
                <h3 style="text-align:center">La Vanguardia</h1>
                <p>	<b>Redacció</b>
					<br></br>Tel.: 93 481 2200
					<br></br>Fax: 902 18 5587
					<br></br>Diagonal 477, 7º. E-08036 Barcelona. Espanya
					<br></br><a rel="nofollow" href="mailto:redaccion@lavanguardia.es">redaccion@lavanguardia.es</a>
				</p>
				<hr>
				<p> <b>Administració</b>
					<br></br>Tel.: 93 481 2500
					<br></br>Diagonal 477, 9º. E-08036 Barcelona. Espanya 
				</p>
				<hr>
				<p> <b>Atenció al subscriptor</b>
					<br></br>Tel.: 902 481 482
					<br></br>Fax: 93 481 24 99
					<br></br><a rel="nofollow" href="mailto:suscripciones@lavanguardia.es">suscripciones@lavanguardia.es </a>
				</p>
				<hr>
				<p> <b>Atenció al lector</b>
					<br></br>Tel.: 93 481 22 00
					<br></br>Fax: 902 18 55 87 
					<br></br>Cartes al director <a rel="nofollow" href="mailto:cartas@lavanguardia.es ">cartas@lavanguardia.es</a>
					<br></br>Defensor del lector <a rel="nofollow" href="mailto:defensor@lavanguardia.es">defensor@lavanguardia.es</a>
				</p>
				<hr>
				<p><b>Llegeix més a:</b> <a rel="nofollow" href="http://www.lavanguardia.com/contacto/index.html#ixzz3LQjIn7Au">La Vanguardia</a><p>
				<p><b>Segueixnos a:</b> <a rel="nofollow" href="https://twitter.com/@LaVanguardia"> Twitter: @LaVanguardia</a> | <a rel="nofollow" href="http://facebook.com/LaVanguardia">Facebook La Vanguardia</a></p>
				<br></br>
                <h3 style="text-align:center">Equip de TicketForAll</h1>
                <p> 
	                Des de TicketForAll estem a la seva disposició per a qualsevol dubte o suggeriment mitjançant la següent adreça de correu electrònic: <a rel="nofollow" href="mailto:sat@ticketforall.com"> Contacta amb TicketForAll </a>  
                <p/>
            </div>
        </div>
    </div>
</div>