<div class="container content-page">
    <div class="page-header" id="Div1">
        <div class="row  row-centered">
            <div class="col-lg-8 col-md-7 col-sm-6  col-centered">
                <h1 style ="text-align:center">{{'WELCOME_MESSAGE'|translate}}</h1> <br /><br />
				<div class= "video">
					<iframe width="560" height="315" src="//www.youtube.com/embed/Eu7_o0g4n3U" frameborder="0" allowfullscreen></iframe>
            	</div>
            </div>
        </div>
    </div>
</div>
